<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <div class="top-bar">
    <h1>Baitcon</h1>
    <p>30! Years of Ice Cream and Counting</p>
    <img src="{{ '/assets/images/top-flowers.jpg' | relative_url }}" alt="A horizonal picture ofleaves and flowers">
  </div>
  <div class="container">
    <header>
      <nav>
        <ul>
          <li><a href="{{ '/' | relative_url }}">Home</a></li>
          <li><a href="{{ '/about' | relative_url }}">About</a></li>
          <li><a href="{{ '/contact' | relative_url }}">Contact</a></li>
          <li><a href="{{ '/history' | relative_url }}">History</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
  </div>
  <footer>
    <p>&copy; Baitcon</p>
  </footer>
</body>
</html>